<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Journal</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="todos" class="nav-link">Todos</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add Todo</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-idea" class="nav-link">Add Idea</a>
      </li>
      <li class="nav-item">
        <a routerLink="ideas" class="nav-link">Ideas</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
